@charset "utf-8";

@import url('https://fonts.googleapis.com/css?family=Noto+Serif+JP');
/* =Reset default browser CSS.
Based on work by Eric Meyer:http://meyerweb.com/eric/tools/css/reset/index.html
-------------------------------------------------------------- */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td{border:0;font-family:inherit;font-size:100%;font-style:inherit;font-weight:inherit;margin:0;outline:0;vertical-align:baseline;}
:focus{outline:0;}

ol, ul{list-style:none;}
table{border-collapse:separate;border-spacing:0;table-layout: fixed;width: 100%;}
caption, th, td{font-weight:normal;text-align:left;}
blockquote:before, blockquote:after,q:before, q:after{content:"";}
blockquote, q{quotes:"" "";}
a img{border:0;}
figure{margin:0}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section{display:block;}
/* -------------------------------------------------------------- */

body{
color:#999999;
font-size:15px;
font-family: "Noto Serif JP", sans-serif;
line-height:1.5;
-webkit-text-size-adjust:100%;
margin : 0 auto;
text-align: center;
}


/* リンク設定
------------------------------------------------------------*/
a{color:#6caefe;text-decoration:none;}
a:hover{color:#488fdd;}
a:active, a:focus {outline:0;}


/* 全体
------------------------------------------------------------*/
#wrapper{
margin:0 auto;
padding:0 1%;
width:98%;
position:relative;
}

.inner{
margin:0 auto;
width:100%!important;
}


/*************
/* ヘッダー
*************/
#header{
text-align: center;
height:130px;
}

#header h1{
padding:5px 0 10px;
font-size:12px;
font-weight:normal;
}



/*************
/* ロゴ
*************/
.logo{
float:left;
}

.logo a{
color:#555;
}

.logo p{float:left;}

.logo span{display:block;}


/*************
/* 電話番号
*************/
.info{
float:right;
padding-right:20px;
text-align:right;
}

.info .open{font-size:11px;}


/*************
/* ロゴ+電話番号
*************/
.logo,.info .tel{
margin-top:6px;
font-size:20px;
font-weight:bold;
}

.logo span,.info span{
font-size:.6em;
font-weight:normal;
}


/**************************
/* メイン画像（トップページ+サブページ）
**************************/
#mainBanner{
    clear:both;
    margin:25px auto 40px;
    padding:0;
    position:relative;
    text-align:center;
}
#mainBanner .inner{position:relative;}

#mainBanner img{
    max-width:100%;
    height:auto;
    /* box-shadow: 0 10px 25px 0 rgba(0, 0, 0, .5); */
}

.anim-box {
    opacity: 0;
    animation-name: fadein-bottom;
    animation-duration: 1.5s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
}

@keyframes fadein-bottom {
    0% {
       opacity: 0;
       transform: translateY(20px);
    }
    100% {
       opacity: 1;
       transform: translateY(0);
    }
 }

.write-anime {
    display: block;
    opacity:0;
}
.write-anime span {
    opacity: 0;
    -webkit-transition: .6s ease-in-out;
    transition: .6s ease-in-out;
}

.slogan{
    color:#669999;
    position:absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    margin:0;
    padding:0;
}

.slogan h2{
    padding-bottom:5px;
    font-size:30px;
}

.slogan p{
    font-size:20px;
}
    

/**************************
/* グリッド
**************************/
.gridWrapper{
clear:both;
padding-bottom:20px;
overflow:hidden;
}

* html .gridWrapper{height:1%;}
	
.grid{
overflow:hidden;
}

.box{
padding:10px;
}

.box img{
max-width:100%;
height:auto;
}

.box h3{
font-size:16px;
padding:10px 0 15px;
}

.box h3, .box p{text-align:left;}

.box p.readmore{
padding:10px 5px 5px;
text-align:right;
}

.box p.readmore a{
padding:3px 7px;
border-radius:3px;
}


/*************
メイン コンテンツ
*************/
section.content article{
padding:30px 0 20px 0;
margin-bottom:10px;
overflow:hidden;
}

section.toppage article,section.content .archive{border:0;}


/* アーカイブページ */
section.content .archive{
padding:0;
border-bottom:1px dotted #ccc;
}

section.content p{margin-bottom:5px;}

h3.heading{
font-size:16px;
font-weight:normal;
padding:15px 0;
margin-bottom:5px;
border-top:2px solid #ebebeb;
border-bottom:2px solid #ebebeb;
}

section.content img{
max-width:90%;
height:auto;
}

.alignleft{
float:left;
clear:left;
margin:3px 10px 10px 0;
}

.alignright{
float:right;
clear:right;
margin:3px 0 10px 10px;
}


/*************
/* サイドバー
*************/
#sidebar article{
clear:both;
margin-bottom:20px;
}

#sidebar ul{padding:15px 0;}

#sidebar li{
margin-bottom:10px;
padding-bottom:10px;
list-style:none;
border-bottom:1px dashed #ebebeb;
}

#sidebar li:last-child{
border:0;
margin-bottom:0px;
}

#sidebar li a{
color:#555;
font-size:12px;
display:block;
}

#sidebar li a:hover{
color:#999;
font-size:12px;
display:block;
}


/*************
/* フッター
*************/
#footer{
clear:both;
}

#footer a{
color:#555;
}

#footer a:hover{
color:#999;
}

#footer .inner{
padding:40px 0;
overflow:hidden;
}

#footer .grid{
margin:0;
}

#footer #info{float:left;}

#footer #info .info{float:none;}

#footer #info .info{
clear:both;
padding:5px 0 0;
text-align:left;
}

#footer .logo{font-size:18px;}

#footer .info .tel,#footer .info .tel span,#footer #info .open{
font-size:12px;
}

ul.footnav{
float:right;
width:620px;
padding:10px 0;
}
ul.footnav ul{display:none;}

ul.footnav li{
float:left;
margin:10px 0 10px 0;
padding:0 7px 0 8px;
border-right:1px solid #ebebeb;
}

#copyright{
clear:both;
padding:20px 0 10px 0;
text-align:center;
font-style:normal;
font-size:10px;
color:#555;
}


/* page navigation
------------------------------------------------------------*/
.pagenav{
clear:both;
width:100%;
height:30px;
margin:5px 0 20px;
}

.prev{float:left}
.next{float:right;}

#pageLinks{
clear:both;
text-align:center;
}


/* タイポグラフィ
*****************************************************/
.dateLabel{
margin:0 0 10px;
text-align:right;
font:italic 1em "Palatino Linotype", "Book Antiqua", Palatino, serif;
}

.post p{padding-bottom:10px;}

.post ul{margin:0 0 10px 10px;}

.post ul li{
margin-bottom:5px;
padding-left:15px;
background:url(images/bullet.png) no-repeat 0 8px;
}

.post ol{margin:0 0 10px 30px;}

.post ol li{list-style:decimal;}

.post h1{
margin:20px 0;
padding:5px 0;
font-size:150%;
color:#000;
border-bottom:3px solid #cf6a88;
}

.post h2{
margin:10px 0;
padding-bottom:2px;
font-size:130%;
font-weight:normal;
color:#333;
border-bottom:2px solid #cf6a88;
}

.post h3{
margin:10px 0 25px 0;
padding:10px 0 10px 0;
font-size:120%;
font-weight:normal;
border-bottom:1px solid #ddd;
}

.post blockquote{
clear:both;
padding:10px 0 10px 15px;
margin:10px 0 25px 30px;
border-left:5px solid #ccc;
}
 
.post blockquote p{padding:5px 0;}

.post table{
border-collapse:collapse;
margin:5px auto 15px auto;
}

.post table td{
border-collapse:collapse;
background-color:#F9F9F9;
text-align:left;
padding:8px;
border-bottom:1px solid #009999;
line-height:20px;
}

.post table th{
background-color:#F5F5F5;
text-align:center;
padding:8px;
white-space:nowrap;
color: #151515;
border-bottom:1px solid #009999;
font-size:12px;
font-weight:normal;
letter-spacing:1px;
background-repeat:repeat-x;
background-position:top;
}


.post dt{font-weight:bold;}

.post dd{padding-bottom:10px;}

.post img{max-width:100%;height:auto;}

img.aligncenter{
display:block;
margin:5px auto;
}

img.alignright, img.alignleft{
padding:4px;
margin:0 0 2px 7px;
display:inline;
}

img.alignleft{margin:0 7px 2px 0;}

.alignright{float:right;}
.alignleft{float:left;}


/* PC用
------------------------------------------------------------*/
@media only screen and (min-width:960px){
	nav div.panel{
	width:100%!important;
	text-align:center!important;
	display:block !important;
	float:left!important;
	}

	a#menu{display:none;}
	
  #mainNav{
	clear:both;
	z-index:200;
	position:relative;
	}

	#mainNav li{
	float:left;
	position:relative;
	}

	#mainNav li a{
	color:#555;
	display: block;
	text-align: center;
	_float:left;
	font-size:13px;
	width:300px;
	height:30px;
	padding:15px 0;
	border-top:2px solid #ebebeb;
	border-bottom:2px solid #ebebeb;
	}

	#mainNav li a span,#mainNav li a strong{display:block;}

	#mainNav li a span{
	color:#bababa;
	font-size:10px;
	}
	
	#mainNav ul ul{width:160px;background:#fff;}
	#mainNav li ul{display:none;}

	#mainNav li:hover ul{
	display:block;
	position:absolute;
	top:64px;
	z-index:500;
	}
	
	#mainNav li li{
	margin:0;
	float:none;
	width:160px;
	border:0;
	}
  #mainNav li li:last-child{border:0;}
	
	#mainNav li li a{
	width:auto;
	height:auto;
	padding:10px;
	font-size:95%;
	text-align:left;
	border:0;
	}

	#mainNav li li span{padding:0 10px;}
	
	#mainNav li.current-menu-item a{
	border-color:#555;
	}

	#mainNav li.current-menu-item a,#mainNav li a:hover,#mainNav li.current-menu-item li a:hover{
	color:#999;
	}

	#header,#wrapper,.inner{
	width:960px;
	padding:0;
	margin:0 auto;
	}
	
	#wrapper{clear:both;padding:20px 0;}
	
	#main{
	float:right;
	width:680px;
	padding:15px 0 0 0;
	}
	
	#sidebar{
	float:left;
	width:250px;
	padding:15px 0;
	overflow:hidden;
	}
	
	#sidebar article{
	margin-bottom:20px;
	overflow:hidden;
	}
	
	.logo{width:500px;}
	
	/* グリッド全体 */
	.gridWrapper{
	display:table;
	border-collapse:separate;
	border-spacing:0px;
	}
	
	/* グリッド */
	.grid{
	width:320px;
	display:table-cell;
	}

}


@media only screen and (max-width:959px){
	*{
    -webkit-box-sizing:border-box;
       -moz-box-sizing:border-box;
         -o-box-sizing:border-box;
        -ms-box-sizing:border-box;
            box-sizing:border-box;
	}
	
	#mainNav{
	clear:both;
	width:100%;
	margin:0 auto;
	padding:0;
  border:1px solid #e4e4e4;
	border-left:0;
	border-right:0;
	}

	#mainNav a.menu{
	color:#555;
	width:100%;
	display:block;
	height:40px;
	line-height:40px;
	font-weight: bold;
	text-align:left;
	}

	#mainNav a#menu span{
	padding-left:10px;
	}
	#mainNav a.menu span:before{content:"≡ ";}
	#mainNav a.menuOpen span:before{content:"× ";}

	#mainNav a#menu:hover{cursor:pointer;}

	nav .panel{
	display:none;
	width:100%;
	position:relative;
	right:0;
	top:0;
	z-index:1;
	}
	
	#mainNav ul{margin:0;padding:0;}

  #mainNav li{
	float:none;
	clear:both;
	width:100%;
	height:auto;
	line-height:1.2;
	}

	#mainNav li a,#mainNav li.current-menu-item li a{
	color:#555;
	display: block;
	padding:15px 10px;
	text-align:left;
	border-bottom:1px dashed #ccc;
	}
	
 	#mainNav li a span{padding-left:10px;}
	
	
	#mainNav ul > li:last-child a{border:0;}
	#mainNav li li:last-child a{border-bottom:1px dashed #ccc;}
 
	#mainNav li.current-menu-item a,#mainNav li a:hover,#mainNav li.current-menu-item a,#mainNav li a:active, #mainNav li li.current-menu-item a, #mainNav li.current-menu-item li a:hover, #mainNav li.current-menu-item li a:active{
	color:#555;
	}

	#mainNav li li{
	float:left;
	border:0;
	}

	#mainNav li li a, #mainNav li.current-menu-item li a, #mainNav li li.current-menu-item a{
	padding-left:40px;
	background:url(images/sub1.png) no-repeat 20px 18px;
	}

	#mainNav li li.current-menu-item a,#mainNav li li a:hover, #mainNav li.current-menu-item li a:hover{background:url(images/sub1.png) no-repeat 20px -62px;}

	#mainNav li li:last-child a{background:url(images/subLast.png) no-repeat 20px 20px;}
	#mainNav li li:last-child.current-menu-item a,#mainNav li li:last-child a:hover,#mainNav li.current-menu-item li:last-child a:hover{background:url(images/subLast.png) no-repeat 20px -65px;}

	nav div.panel{float:none;}
	
	#header{padding-left:10px;}
	
	#main{padding-top:15px;}
	section.toppage{margin:0;}
	#sidebar{padding-bottom:15px;}
	#sidebar article{padding:7px 8px;}
	
	#footer .grid,#footer ul.footnav{float:none;width:100%;text-align:center;}
	ul.footnav li{float:none;display:inline-block;}
	
	.grid{
	float:left;
	width:32%;
	margin:10px 0 0 1%;
	}

	#footer .grid img,#footer .info{float:none;}
	#footer .grid p{display:block;}
	#footer #info .info{float:none;text-align:center;}
	#footer.logo,#footer .info{width:100%;float:none;}
	#footer .logo p{float:none;display:block;	}
	#footer .logo img{float:none;padding:0;}
}


@media only screen and (max-width:640px){
	#header{height:auto;padding-bottom:20px;}
	
	#header h1,.logo,.info{text-align:center;}
	
	.logo,.info{clear:both;width:100%;float:none;}
	
	.logo p{float:none;display:block;}
	.logo img{float:none;padding:0;}
	
	.box img{
	float:left;
	margin-right:5px;
	}
	
	.box h3{padding-top:0;}

  .alignleft,.alignright,img.alignleft,img.alignright{float:none;display:block;margin:0 auto 10px;}

}


@media only screen and (max-width:480px){
	.grid{width:100%;margin:10px 0;}
	.box img{max-width:100px;}
	#mainBanner h2,#mainBanner p{font-size:80%;}
}



/*
自分で探したやつ
*/

#images {
    display: grid;
    grid-template-columns: 200px 200px;
    margin: 0 auto;
}

    
.list {
    position: relative;
    overflow: hidden;
    margin: 5% 5% 5% 5%;
}

.list figure img {
	width: 25%;			/*写真の幅*/
	float: left;		/*左に回り込み*/
	border-radius: 50%;	/*円形にくり抜く指定。通常通りに表示させたいならこの１行削除。*/
}

h2 {
    clear: both;
    margin-bottom: 20px;
    color: #009999;
    border-bottom: 1.5px solid #009999;
    padding-left: 20px;
    font-size: 20px;
}

h4 {
    display: block;
    margin-block-start: 1.33em;
    margin-block-end: 1.33em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

.message{
line-height:3;
}
p.message-infection-prevention{
text-align: left!important;
}
  table.event {
    border: 0;
    width:50%
  }
  table.event th{
    display: block;
    border-right: none;
    border-bottom: 2px solid #009999;
    padding-bottom: .6em;
    margin-bottom: .6em;

  }
  table.event thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }
  
  table.event tr {
    display: block;
    margin-bottom: 2em;
        border-bottom: 2px solid #009999;
  }
  
  table.event td {
    border-bottom: 1px solid #bbb;
    display: block;
    font-size: .8em;
    text-align: right;
    position: relative;
    padding: .625em .625em .625em 4em;
    border-right: none;
  }
  
  table.event td::before {
    content: attr(data-label);
    font-weight: bold;
    position: absolute;
    left: 10px;
  }
  
  table.event td:last-child {
    border-bottom: 0;
  }
@media screen and (max-width: 600px) {
  table.event {
    border: 0;
    width:100%!important;
  }
}


/* --------------RSVP-------------------------------------- */
/*

.contact-bg {
    background: #e4eeef;
    padding: 100px 0;
    margin: 100px auto 0;
}
 
.contact-message {
    text-align: center;
    font-size: 14px;
    line-height: 2;
    margin-bottom: 50px;
}
 
.message-notice {
    color: #c10811;
    font-size: 14px;
}
 
.essential {
    background: #c10811;
    color: #fafafa;
    font-size: 12px;
    padding: 0 10px;
    font-weight: normal;
    margin-left: 10px;
}
 
.contact-area {
    background: #fafafa;
    padding: 90px;
    margin: 100px auto;
    width: 1000px;
}
 
.contact-table {
    width: 100%;
}
 
table.list {
    display: flex;
    justify-content: space-between;
    font-family: 'Noto Sans JP', sans-serif;
    letter-spacing: 0.05em;
    width: 100%;
    margin-bottom: 40px;
}
 
.table-list th {
    font-size: 13px;
    font-weight: bold;
    width: 250px;
    text-align: left;
}
 
.table-list-address {
    flex-wrap: wrap;
}
 
.table-list-address .input-area {
    margin-bottom: 10px;
}
 
.input-area {
    font-family: 'Noto Sans JP', sans-serif;
    letter-spacing: 0.05em;
    padding: 0 10px;
    border: none;
    width: 550px;
    height: 40px;
    box-sizing: border-box;
    border: 1px solid #c4c4c4;
}
 
.table-list td {
    font-size: 13px;
    width: calc(100% - 250px);
}
 
input::placeholder {
    color: #bfbfbf;
    font-size: 12px;
    font-weight: bold;
}
 
textarea {
    border: none;
    width: 550px;
    height: 200px;
    padding: 0;
    border: 1px solid #c4c4c4;
}
 
textarea::placeholder {
    color: #bfbfbf;
    font-size: 12px;
}
 
input[type="text"] {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
 
.contact-area .text {
    font-size: 13px;
    text-align: center;
    margin-bottom: 100px;
}
 
.contact-area .text a {
    color: #000;
    border-bottom: 1px solid #000;
    transition: all .3s;
}
 
.contact-area .text a:hover {
    border-bottom: 1px solid #777;
    padding-bottom: 5px;
    color: #777;
}
 
.submit-button {
    box-sizing: border-box;
    position: relative;
    display: block;
    margin: 30px auto 0;
    background-color: #e4eeef;
    cursor: pointer;
    border: 1px solid #e4eeef;
    color: #000;
    text-align: center;
    text-decoration: none;
    line-height: 1.5;
    outline: none;
    -webkit-transition: all .3s;
    transition: all .5s;
    padding: 20px 100px;
}
 
.submit-button:hover {
    background: #cae1e3;
    color: #000;
    border: 1px solid #cae1e3;
}
 
 
@media(max-width:1200px) {
    .contact-area {
        width: 80%;
        padding: 60px;
    }
}
 
@media(max-width:1024px) {
    .contact-area {
        padding: 50px 15px;
    }
 
    .table-list th {
        width: 180px;
    }
 
    .table-list td {
        width: 100%;
    }
 
    .input-area {
        width: 500px;
        height: 40px;
    }
 
    textarea {
        width: 500px;
        height: 200px;
    }
 
    .contact-message {
        margin-bottom: 30px;
    }
 
    .contact-area .text {
        margin-bottom: 30px;
    }
}
 
 
@media(max-width:834px) {
    .contact-bg {
        margin: 50px auto 0;
        padding: 50px 0;
    }
 
    .contact-area {
        margin: 50px auto;
        padding: 50px 20px;
    }
 
    .check-box label {
        width: 100%;
    }
 
    .input-area {
        width: 100%;
        height: 30px;
    }
 
    textarea {
        width: 100%;
        height: 200px;
    }
 
    .table-list {
        flex-wrap: wrap;
        margin-bottom: 20px;
    }
 
    .table-list th {
        font-size: 12px;
        width: 200px;
        margin-bottom: 10px;
    }
 
    .table-list td {
        font-size: 12px;
    }
 
    .table-list td {
        width: 100%;
    }
 
    .contact-message {
        font-size: 13px;
    }
 
    .contact-area .text {
        font-size: 13px;
    }
}
 
@media (max-width:640px) {
    .contact-message {
        text-align: left;
    }
 
    .contact-area .text {
        text-align: left;
    }
}
 
@media(max-width:320px) {
    .input-area {
        width: 100%;
    }
 
    textarea {
        width: 100%;
    }
}

