.event_main {
  position: absolute;
  width: 80%;
  left: 0;
  right: 0;
  top: 700px;
  height: max-content;
  margin: auto;
  font-family: 'Caveat', cursive;
  text-align:center;
  backdrop-filter: blur(2px);
}

.event_main__title {
  border-bottom: 3px solid #008080;
  border-top: 3px solid #008080;
  font-size: 20px;
  padding: 20px;
}

.font_gray {
  color: #707070;
}

.event_main__description {
  left: 0;
  right: 0;
  height: max-content;
  margin: auto;
  font-family: 'Caveat', cursive;
  text-align:center;
  font-size: 12px;
}

.event_main__description_block {
  padding: 20px;
}

@media screen and (max-width: 480px) {
  .event_main__title {
    font-size: 12px;
  }
}

table{
  width: 100%;
  border-collapse: collapse;
}

table tr{
  border-bottom: solid 2px white;
}

table tr:last-child{
  border-bottom: none;
}

table th{
  position: relative;
  text-align: left;
  width: 30%;
  background-color: #52c2d0;
  color: white;
  text-align: center;
  padding: 10px 0;
}

table th:after{
  display: block;
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  top:calc(50% - 10px);
  right:-10px;
  border-left: 10px solid #52c2d0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
}

table td{
  text-align: left;
  width: 70%;
  text-align: center;
  background-color: #eee;
  padding: 10px 0;
}