.home__main {
  display: flex;
}

.home__description {
  position: absolute;
  left: 0;
  right: 0;
  top: 700px;
  width: 60%;
  height: max-content;
  margin: auto;
  font-family: 'Caveat', cursive;
  text-align:center;
  border-bottom: 3px solid #008080;
  border-top: 3px solid #008080;
}

.home__description_block {
  padding: 30px;
  /* white-space: nowrap; */
  backdrop-filter: blur(2px);
}

.font_gray {
  color: #707070;
}

.home__introduction {
  position: absolute;
  left: 0;
  right: 0;
  top: 1130px;
  width: 80%;
  height: max-content;
  margin: auto;
  font-family: 'Caveat', cursive;
  text-align:center;
}

/* SPの場合 */
@media screen and (max-width: 480px) {
  .home__description {
    font-size: 12px;
    left: 30%;
  }
  .home__introduction {
    top: 1150px !important;
    width: 60%;
    left: 30%;
  }

  .home__introduction_image_block {
    width: 100% !important;
    float: inherit !important;
  }

  .home__introduction_description_name{
    margin: auto !important;
  }

  .home__introduction_description_block {
    width: 100% !important;
    float: inherit !important;
    margin: auto !important;
  }

  .home__introduction_block {
    white-space: initial !important;
    width: 100% !important;
  }
}

.home__introduction_block {
  width: 80%;
  margin: auto;
  overflow: hidden;
  padding: 20px;
}

.home__introduction_image_block {
  width: 40%;
  left: 0;
  float: left;
}

.home__introduction_image {
  width: 200px;
  border-radius: 50%;
  /* box-shadow: 0 10px 25px 0 rgba(0, 0, 0, .5); */
}

.home__introduction_description_block {
  width: 60%;
  padding: 10px;
  float: left;
  backdrop-filter: blur(2px);
}

.home__introduction_description_name {
  font-weight: bold;
  backdrop-filter: blur(2px);
}