.rsvp__main {
  display: flex;
}

.rsvp__description {
  position: absolute;
  left: 0;
  right: 0;
  top: 700px;
  width: 80%;
  height: max-content;
  margin: auto;
  font-family: 'Caveat', cursive;
  text-align:center;
  border-bottom: 3px solid #008080;
  border-top: 3px solid #008080;
  backdrop-filter: blur(2px);
}

.rsvp__description_block {
  padding: 30px;
}

.font_gray {
  color: #707070;
}

.rsvp__form_block {
  margin: auto;
  text-align: center;
}

.rsvp__form_label {
  width: 100%;
}

input {
  text-align: center;
}

textarea {
  text-align: center;
}

.required::after {
  content: " *";
  color: red;
  vertical-align: middle;
}

.cp_iptxt {
	position: relative;
}
.cp_iptxt input[type='text'],
.cp_iptxt input[type='email'],
textarea {
	font: 15px/24px sans-serif;
  font-family: 'Caveat', cursive;
	box-sizing: border-box;
	width: 100%;
	letter-spacing: 1px;
}
.cp_iptxt input[type='text']:focus,
.cp_iptxt input[type='email']:focus,
textarea:focus {
	outline: none;
}
.ef {
	padding: 4px 0;
	border: 0;
	border-bottom: 1px solid #1b2538;
	background-color: transparent;
}
.ef ~ .focus_line {
	position: absolute;
	bottom: 0;
	left: 50%;
	width: 0;
	height: 2px;
	transition: 0.4s;
	background-color: #008080;
}
.ef ~ .focus_line {
	position: absolute;
	bottom: 0;
	left: 50%;
	width: 0;
	height: 2px;
	transition: 0.4s;
	background-color: #008080;
}
.ef:focus ~ .focus_line,
.cp_iptxt.ef ~ .focus_line {
	left: 0;
	width: 100%;
	transition: 0.4s;
}
.ef ~ label {
	position: absolute;
	z-index: -1;
	top: 4px;
	left: 0;
	width: 100%;
	transition: 0.3s;
	letter-spacing: 0.5px;
	color: #aaaaaa;
}
.ef:focus ~ label, .cp_iptxt.ef ~ label {
	font-size: 12px;
	top: -16px;
	transition: 0.3s;
	color: #008080;
}